$fontSizeText-12: 12px;
$fontSizeText-16: 16px;
$fontSizeTitle-32: 32px;
$fontSizeSubTitle-24: 24px;
$fontSizeSubTitle-28: 28px;

$colorRomance: #FFFFFF;
$colorAlabaster: #F9FBFF;
$colorDowny: #76CFD0;
$colorGlory: #9CDEE2;
$colorDownySmall: #72CED3;
$colorSeaGreen: #4AA4A4;
$colorGreyChateau: #A6A6B0;
$colorStormDust: #63636A;
$colorBalticSea: #27272A;
